<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weight Predicting API</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
{% load static %}
{% load crispy_forms_tags %}
    <div class="mx-2 my-5">
        <div class="container-fluid">
            <div class="row" style="background-color:#3a7c80">
                <div class="col-sm-12" >
                <h1>Weight Calculator</h1>
                </div>
            </div>
            <div class="row" style="background-color:#14d4db">
                <div class="col-sm-6">
                    <img src="{% static '/images/main.png' %}" alt="banner1" style="width:500px;height:250px;"> </img>

                </div>
                <div class="col-sm-6">
                    <img src="{% static '/images/mlanddjango.jpg' %}" alt="banner2" style="width:500px;height:250px;"> </img>

                </div>

            </div>
            <div class="row">
                <div class="col"></div>
                <div class =" col-6 my-5">
                    <h1>Personal Details</h1>
                    <form method="post">
                        {% csrf_token%}
                        {{form|crispy}}
                        <br>
                        <button type="submit" class=" btn btn-primary">Submit</button>
                    </form>
                    <br>
                </div>
                <div class="col">
                    <div class="mt-5">
                        <h4>
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }} {% endif %}">
                                {{message}}
                            </li>
                            {% endfor %}

                        </ul>
                    {% endif %}
                        </h4>
                    </div>
                </div>


            </div>

        </div>
    </div>

</body>
</html>